cffi
cairocffi
coloredlogs
cryptography
dill
fabric
fabric3
funcsigs
grip
jinja2
jsmin
markdown2
matplotlib
networkx
numpy
pandas
pygments
pypng
readline
sh
scipy
termcolor
terminaltables
weasyprint
seaborn
sklearn
